body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-size: cover;
}

marquee
{
    margin-bottom: -5px;
    font-size: 2rem;
    color: #ffff;
    background-color: #2F44FD;
}

marquee:hover
{
    background-color: #ffff;
    color: #2F44FD;
}

#container
{
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container1
{
    width: 100vw;
    height: 75%;
    background-color: #2F44FD;
    border-radius:100% 0% 15% 85% / 0% 46% 54% 100% ;
    position: absolute;
    z-index: -1;
}

.container2
{
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ffff;
    width: 42%;
    margin: auto;
    box-shadow: 1px 1px 5px rgb(37, 37, 37);
    border-radius:45px;
    backdrop-filter: blur(1rem);
}

.container2 h2
{
    font-size: 2rem;
}

.container2 p
{
    font-size: 1.2rem;
}

.container2 button
{
    background-color: #2F44FD;
    margin: 1rem 4rem;
    padding: 6px 18px;
    font-size: 1rem;
    color: #ffff;
    border: 1px solid #ffff;
    border-radius: 15px;
}

.container2 button:hover
{
    background-color: #ffff;
    color: #2F44FD;
}
